<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Klinik - Clinic Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="{{ url_for('static', filename='img/favicon.ico') }}" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@500;700;900&display=swap" rel="stylesheet"> 

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{{ url_for('static', filename='lib/animate/animate.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/owlcarousel/assets/owl.carousel.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css') }}" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- Template Stylesheet -->
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

    {% include 'menu.html' %}

    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Results</h1>
        </div>
    </div>
    <!-- Page Header End -->

    <div class="container mt-5">
        <h1 class="text-center mb-4">Questionnaire Results</h1>

        <!-- Personal Information -->
        <div class="card mb-4">
            <div class="card-header">
                <h2>Personal Information</h2>
            </div>
            <div class="card-body">
                <p><strong>First Name:</strong> {{ first_name }}</p>
                <p><strong>Last Name:</strong> {{ last_name }}</p>
                <p><strong>Email:</strong> {{ email }}</p>
                <p><strong>Phone:</strong> {{ phone }}</p>
                <p><strong>Age:</strong> {{ age }}</p>
                <p><strong>Gender:</strong> {{ gender }}</p>
            </div>
        </div>

        <!-- Submitted Symptoms -->
        <div class="card mb-4">
            <div class="card-header">
                <h2>Submitted Symptoms</h2>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    {% for symptom in symptoms %}
                      {% if symptom == 'chest_pain' %}<li class="list-group-item">Chest Pain</li>{% endif %}
                      {% if symptom == 'palpitations' %}<li class="list-group-item">Palpitations</li>{% endif %}
                      {% if symptom == 'cardiac_arrest' %}<li class="list-group-item">Cardiac Arrest</li>{% endif %}
                      {% if symptom == 'blue_tint' %}<li class="list-group-item">Blue Tint on Lips or Extremities</li>{% endif %}
                      {% if symptom == 'cold_extremities' %}<li class="list-group-item">Cold Extremities</li>{% endif %}
                      {% if symptom == 'fatigue_activity' %}<li class="list-group-item">Fatigue During Activity</li>{% endif %}
                      {% if symptom == 'nausea_vomiting' %}<li class="list-group-item">Nausea/Vomiting</li>{% endif %}
                      {% if symptom == 'unexplained_fatigue' %}<li class="list-group-item">Unexplained Fatigue</li>{% endif %}
                      {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Risk Factors -->
        <div class="card mb-4">
            <div class="card-header">
                <h2>Risk Factors</h2>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    {% for risk_factor in risk_factors %}
                      {% if risk_factor == 'family_history' %}<li class="list-group-item">Family History of Heart Disease</li>{% endif %}
                      {% if risk_factor == 'smoking' %}<li class="list-group-item">Smoking</li>{% endif %}
                      {% if risk_factor == 'hypertension' %}<li class="list-group-item">Hypertension</li>{% endif %}
                      {% if risk_factor == 'high_cholesterol' %}<li class="list-group-item">High Cholesterol</li>{% endif %}
                      {% if risk_factor == 'sedentary_lifestyle' %}<li class="list-group-item">Sedentary Lifestyle</li>{% endif %}

                      {% endfor %}
                </ul>
            </div>
        </div>

        <!-- Prediction -->
        <div class="card mb-4">
            <div class="card-header">
                <h2>Prediction</h2>
            </div>
            <div class="card-body">
                <p>{{ prediction }}</p>
            </div>
        </div>

        <!-- Button to go back -->
        <div class="text-center">
            <a href="{{ url_for('form') }}" class="btn btn-secondary">Back to Form</a>
            <a href="/download_report?first_name={{ first_name }}&last_name={{ last_name }}&email={{ email }}&phone={{ phone }}&age={{ age }}&gender={{ gender }}&prediction={{ prediction }}&symptoms={{ symptoms|join(',') }}&risk_factors={{ risk_factors|join(',') }}" class="btn btn-primary">Download Your Report</a>
            <a href="/chatbot" class="btn btn-info">Analyze Your Situation</a>
        </div>

    </div>

    <!-- Optional JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square rounded-circle back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{{ url_for('static', filename='lib/wow/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/easing/easing.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/waypoints/waypoints.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/counterup/counterup.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/owlcarousel/owl.carousel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/moment-timezone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
